@font-face {
  font-family: 'Granville';
  src: url("https://use.typekit.net/rsd3shz.css");
}

@font-face {
  font-family: 'Sloop-Script-Two';
  src: url("https://use.typekit.net/rsd3shz.css");
}

@font-face {
  font-family: 'prestige-elite-std';
  src: url("https://use.typekit.net/rsd3shz.css");
}

body {
  font-family: 'prestige-elite-std';
  color: white;
  background-color: rgb(31,45,34);
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

#app-title {
  font-family: 'Sloop-Script-Two';
  color: white;
  text-align: center;
}

/* Add your own custom styles here */

a {
  color: white;
  text-decoration: none;
}

nav{
  font-family: 'Granville';
  display: flex;
  justify-content: space-around;
  color: white;
  background-color:rgb(94, 68, 42);
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}